.footer-container {
    background-color: #2b2b2b !important;
}

.footer-text-main {
    font-weight: bold;
    font-size: 2rem;
}

.footer-text-sum {
    margin: auto;
    padding-top: 1.5rem;
}

.footer-bottom {
    background-color: #2b2b2b;
}

.iconify { 
    width: 25px;
    height: 25px; 
    color: white;
}

.iconify.devto {
    width: 29px;
    height: 29px; 
}