.slds-text-heading_medium {
    color: gray;
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width:480px) {
    .about {
        height : 100%;
        text-align: justify;
    }
}

@media (min-width:480px) {
    .about {
        height : 100%;
        text-align: justify;
    }
}

.about-firstline {
    color: rgb(89, 88, 88);
    font-size: 1.2rem;
    font-weight: bold;
}

.text-highlight {
    font-weight: bold;
    color: #1798C1;
}

.summary {
    font-size: 1rem;
}