.slds-text-heading_medium {
    color: gray;
    font-weight: bold;
    font-size: 2.2rem;
}

@media (max-width:480px) {
    .about {
        color: rgb(89, 88, 88);
        font-size: 2.2rem;
        height : 100%;
        text-align: justify;
    }

    img {
        margin : 10%;
    }
}

@media (min-width:480px) {
    .about {
        color: rgb(89, 88, 88);
        font-size: 2.5rem;
        height : 100%;
        margin : 0 5%;
        text-align: justify;
        text-align: center;
    }
    img {
        height : 400px  ;
    }
}

.text-highlight {
    font-weight: bold;
    color: #1798C1;
}

.name {
    font-size: 3rem;
    color: rgb(71, 70, 70);
    font-weight: bold;
}
